@font-face {
    font-family: "Clash Display";
    src: url(fonts/ClashDisplay-Light.woff2);
    font-weight: 200;
}
@font-face {
    font-family: "Clash Display";
    src:url(fonts/ClashDisplay-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Clash Display";
    src: url(fonts/ClashDisplay-Semibold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: "Clash Display";
    src: url(fonts/ClashDisplay-Bold.woff2);
    font-weight: 900;
}

@font-face {
    font-family: "Satoshi";
    src: url(fonts/Satoshi-Regular.woff2);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-light-gray: #f9f9f9;
    --color-dark-primary: #2A254B;
    --color-nav-links: #726E8D;
    --color-dark-white: #d6d6d6;
}

.btn{
    text-decoration: none;
    color: var(--color-dark-primary);
    background-color: var(--color-white);
    padding: 16px 32px;
    font-family: Satoshi;
    font-size: 16px;
    transition: all 0.8s;
}

.btn:hover{
    transition: all 0.8s;
    color: var(--color-light-gray);
    background-color: var(--color-dark-primary);
}

header>div{
    background-color: #726E8D;
    color: var(--color-white);
    font-family: Satoshi;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 35px;
    padding: 11px 9px;
    align-items: center;
}

header div p{
    display: grid;
    grid-template-columns: 16px 1fr;
    column-gap: 8px;
    justify-self: center;
}

header section{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 30px 8vw;
    align-items: center;
}
header section>a{
    font-family: "Clash Display";
    font-size: 24px;
    text-decoration: none;
    color: #22202E;
}

header section nav {
    justify-self: center;
}

header section ul{
    display: flex;
    list-style-type: none;
    column-gap: 4vw;
}

header section ul a{
    text-decoration: none;
    color: var(--color-nav-links);
    font-family: Satoshi;
    font-size: 16px;
}

header section div.icons{
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 16px);
    column-gap: 16px;
}
main section.description{
    background-color: var(--color-light-gray);
    padding: 50px 8vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 38vw;
    column-gap: 6vw;
    align-items: center;
}

main section.description img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section.description div.dimensions{
    display: grid;
    grid-template-columns: max-content 1px max-content 1px max-content 1px;
    align-items: center;
    column-gap: 30px;
}

main section.description div.dimensions div{
    background-color: var(--color-dark-white);
    height: 80%;
}

main section.description div.dimensions p{
    display: grid;
    row-gap: 10px;
}

main section.description div.quantitity {
    display: grid;
    width: 122px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 46px;
    background-color:var(--color-white);
    align-items: center;
    justify-items: center;
}

main section.description div.button {
    padding-top: 32px;
}

main section.description h1{
    font-family: "Clash Display";
    font-weight: 400;
    font-size: 36px;
}
main section.description h2{
    font-family: Satoshi;
    font-weight: 400;
    font-size: 24px;
}
main section.description h3{
    font-family: "Clash Display";
    font-weight: 400;
    font-size: 16px;
}
main section.description p.pdp{
    font-family: Satoshi;
    font-weight: 400;
    font-size: 16px;
}
.productdescription {
    display: grid;
    row-gap: 14px;
}
.productall {
    display: grid;
    row-gap: 20px;
}

main section.description div.dimensions p{
    font-family: "Clash Display";
    font-weight: 400;
    font-size: 14px;
}

main section.description div.dimensions span{
    font-family: Satoshi;
    font-size: 16px;
}

main section.description div.quantitity span{
    font-family: Satoshi;
}

main section.description div.quantitity span.btnqnt{
    color: var(--color-dark-white);
    cursor: pointer;
}

main section.mightalso{
    padding: 65px 80px;
}

main section.mightalso div.articlefather{
    display: flex;
    gap: 20px;
}

main section.mightalso div.mightmain h1{
    padding-bottom: 25px;
    font-family: "Clash Display";
    font-weight: 400;
    font-size: 32px;
}


main section.mightalso div.mightmain h2{
    font-family: "Clash Display";
    font-weight: 400;
    font-size: 20px;
}
main section.mightalso div.mightmain h3{
    font-family: Satoshi;
    font-weight: 400;
    font-size: 18px;
}
main section.mightalso div.mightmain div.h2h3{
    display: grid;
    row-gap: 8px;
}

main section.mightalso div.mightmain article{
    display: grid;
    row-gap: 24px;
}

main section.mightalso div.mightmain article.mightsofa img{
    width: 100%;
    height: 96.4%;
    object-fit: cover;
}
main section.mightalso div.mightmain article.mightchair1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section.mightalso div.mightmain article.mightchair2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main section.our-brand{
    padding: 80px 6vw;
    display: grid;
    row-gap: 36px;
    padding-bottom: 40px;
}

main section.our-brand h2{
    font-family: "Clash Display";
    font-size: 28px;
    text-align: center;
    font-weight: 400;
}
main section.our-brand div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2vw;
}
main section.our-brand div article{
    background-color: var(--color-light-gray);
    padding: 40px;
    display: grid;
    grid-template-rows: 24px repeat(2, 1fr);
}

main section.our-brand div article svg{
    height: 100%;
}

main section.our-brand div article h3{
    font-family: "Clash Display";
    font-size: 20px;
    font-weight: 400;
}

main section.our-brand div article p{
    font-family: "Satoshi";
}

.btn2 {
    display: grid;
    padding-top: 42px;
    justify-content: center;
}

.btn1{
    text-decoration: none;
    color: var(--color-dark-primary);
    background-color: var(--color-light-gray);
    padding: 16px 32px;
    font-family: Satoshi;
    font-size: 16px;
    transition: all 0.8s;

}

main section.join{
    display: flex;
}

main section.join article{
    padding-left: 75px;
}

main section.join img{
    height: 521px;
    width: 50%;
    object-fit: cover;
}
main section.join h1{
    font-family: "Clash Display";
    font-size: 32px;
    font-weight: 400;
    padding-top: 71px;
}

main section.join h2{
    font-family: Satoshi;
    font-weight: 400;
    font-size: 16px;
}

main section.join div.joindiv{
    display: grid;
    row-gap: 21px;
}

main section.join form{
    padding-top: 45%;
    display: grid;
    grid-template-rows: 56px;
    grid-template-columns: 3fr 1fr;
}
main section.join input {
    border-radius: 0;
    border: none;
    padding-left: 3vw;
    background-color: var(--color-light-gray);
}

main section.join input[type=submit]{
    color: var(--color-white);
    background-color: var(--color-dark-primary);
    padding: 0 32px;
}